.navegacao {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    background-color: var(--azul-escuro);
    color: white;
}

.navegacao a {
    color: white;
}
 
@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}
